@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


/* NAV */

nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.hamburger hr{
    width: 16px;
    margin: 4px 0px;
    border: 1px solid green;
}

.hamburger {
    visibility: hidden;
    width: 0;
    height: 0;
}

    /* NAV-TOP */

    .nav-top{
        display: flex;
        width: 100%;
        background: wheat;
        justify-content: center;
        padding: 1% 0;
    }

    .web-elem{
        display: flex;
        width: 75%;
        justify-content: space-evenly;
    }

    .logo-box{
        width: 20%;
        display: flex;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .logo-box img{
        height: 100%;
    }

    .web-elem .wrap{
        width: 35%;
    }

    .web-elem .search{
        height: 100%;
        display: flex;
    }

    .web-elem .wrap input{
        margin: 0;
        height: 100%;
        padding: 0;
        width: 90%;
    }

    .web-elem .wrap button{
        margin: auto;
        height: 100%;
        width: 10%;
    }

    .web-elem .socmed-button{
        width: 20%;
        justify-content: center;
        display: flex;
        gap: 10px;
    }

    .socmed-button i{
        width: 10%;
        margin: auto 0;
        text-align: center;
    }

    .web-elem .login-signup{
        width: 20%;
        justify-content: center;
        display: flex;
        gap: 10px;
    }

    /* NAV-BOT */
    .nav-bot{
        background: green;
        height: fit-content;
    }

    .nav-bot li{
        list-style: none;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        width: fit-content;
    }

    .nav-bot a{
        font-size: 18px;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        width: fit-content;
    }

    .nav-bot img{
        scale: 0.5;
        margin-top: auto;
        margin-bottom: auto;
    }

    .nav-bot ul{
        display: flex;
        width: 40%;
        margin: 0;
        gap: 5px;
        margin-left: 2%;
    }


/*-------------------HOMEPAGE-------------------*/

.home{
    background: #9BA09C;
    width: 100%;
}


/*HERO or TITLE SECTION*/

.title-section{
    background: url(images/home/hero.png) no-repeat center;
    width: 100%;
    height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.title-section h1{
    margin-top: 0;
}

.title-heading{
    text-align: center;
}

.title-button{
    margin-left: auto;
    margin-right: auto;
}

/* Why our clients love us */

.client-section{
    display: flex;
    flex-direction: column;
    background: green;
    width: 100%;
    padding: 2% 0 7% 0;
    justify-content: center;
}

.client-card-container{
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    width: 29%;
    padding: 5% 2%;
}

.client-heading{
    width: 90%;
    margin: auto;
}

.client-footer{
    width: 90%;
    margin: auto;
    text-align: center;
}

.client-section img{
    width: 100%;
    height: auto;
}

.client-section .img-bg{
    width: 100px;
    height: 100px;
    background: green;
    margin: auto;
    padding: 2%;
}

.client-card-row{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 3% 0;
}

.client-section hr{
    width: 100%;
    border: 1px solid white;
    margin: 0;
}


@media screen and (max-width:920px) {
    nav .web-elem{
        visibility: hidden;
        width: 0;
    }
    
    .nav-top{
        justify-content: space-between;
    }

    .hamburger{
        visibility: visible;
        width: fit-content;
        height: fit-content;
        margin-right: 2% ;
        margin-top: auto;
        margin-bottom: auto;
    }

    .logo-box{
        margin-left: 2%;
        width: fit-content;
    }

    .nav-bot{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .title-section{
        height: 50vh;
    }

    .client-card-row{
        flex-direction: column;
        gap: 20px;
    }

    .client-card-container{
        margin: auto;
        width: 75%;
    }

    .client-heading{
        width: 71%;
        text-align: center;
    }
}


@media screen and (max-width:600px) {

    .title-section{
        height: 40vh;
    }
}


@media screen and (max-width:300px) {

    .title-section{
        height: 30vh;
    }
}
